body {
  background: rgb(156, 192, 213);
}

h1 {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  margin-top: 100px;
  margin-left: 420px;
}

ul li {
  list-style-type: none;
  margin: 0 30px;
}

ul li a {
  text-decoration: none;
  color: white;
  background-color: rgb(3, 161, 3);
  padding: 10px;
  border-radius: 5px;
}

ul li a:hover {
  background-color: rgb(1, 82, 1);
  transition: 0.5s ease-in-out;
}
